:root {
    --web-width: 600px;
    --inner-width: 500px;
    --bg-dark-color: #edaa1b;
    --bg-light-color: #efce81;
    --dark-green-color: #136914;
    --icon-color: #639500;
    --icon-hover-color: #84b920;
}
/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-light-color);
    
}
/* entire box */
.container {
    display: flex;
    flex-direction: column;
    max-width: var(--web-width);
    margin: 100px auto;
    background-color: lightgray;
    min-height: 90vh;
    box-shadow: 3px 3px 10px 1px #287d1d;
}

/* box1 */
.box-heading {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 40px;
    height: 25vh;
    background: url('/img/3466939.jpg') no-repeat center center/cover;
    font-family: 'Josefin Sans', sans-serif;
}

.box-heading h2 {
    color: var(--icon-color);
}

.fa-sync-alt {
    color: var(--icon-color);
}

/* form */

.list-area {
    background: #a2d5e8;
    font-family:'Josefin Sans', sans-serif;
    padding: 30px 50px;
    min-height: 60vh;
}

.list-area h2 {
    text-align: center;
    padding-bottom: 30px;
    color: #639500;
    font-size: 1.8rem;
}

.list-area h2:hover {
    color: var(--icon-hover-color);
}

.input-checkbox {
    margin-right: 10px;
    cursor: pointer;
}


.list {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
    max-width: var(--inner-width);
    margin: auto;
    padding-bottom: 15px;
    align-items: center;
    
    font-size: 1.6rem;
}

.lineThrough {
    text-decoration: line-through;
    font-style: italic;
    color: #bdbdbd;
}

/* image attrib ution and delete icon */

.img-attribution {
    display: flex;
    font-family: sans-serif;
    background: #a2d5e8;
    padding: 0 50px;
    font-size: small;
    justify-content: space-between;
    
}

.img-attribution a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;;
    color: var(--dark-green-color);
}

.fa-trash-alt,
.fa-circle,
.fa-check-circle {
    color: #639500;
    align-self: center;
}

.fa-trash-alt:hover,
.fa-circle:hover,
.fa-check-circle:hover,
.fa-sync-alt:hover {
    color: var(--icon-hover-color);
}



/* add item */

.fa-plus {
    color: var(--dark-green-color);
    height: 30px;
    width: 30px;
}

.fa-plus:hover {
    font-size: 40px;
}


.box-addItem {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    background: var(--bg-dark-color);
    height: 10vh;
    padding: 30px ; 
    position: relative;
}

.input-box {
    margin-left: 30px;
    padding: 20px;
    width: 370px;
    height: 30px;
    background: #d3ebf5;
    outline-style: none;
    border: none;
    border-radius: 10px;
}












